@{ 
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h1 class="display-4">Games</h1>
</div>
<ul>
    <li><a asp-area="" asp-controller="Games" asp-action="Chess">Chess</a></li>
    <li><a asp-area="" asp-controller="Games" asp-action="Crosser">Crosser</a></li>
    <li><a asp-area="" asp-controller="Games" asp-action="Crosser">Go</a></li>
</ul>